<h2>System Variables</h2>

<div class="row">
  <div class="col-md-7">
    <table class="table table-sm table-striped align-middle">
      <thead class="table-light">
        <tr>
          <th>Name</th>
          <th>Value</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @variables.each do |var| %>
          <tr>
            <td><code><%= var.name %></code></td>
            <td>
              <%= form_with model: [:admin, var], url: admin_system_variables_path(id: var.id), method: :patch, class: 'd-flex gap-2', local: true do |f| %>
                <%= f.text_field :value, class: 'form-control form-control-sm', placeholder: 'value' %>
                <%= f.text_field :description, class: 'form-control form-control-sm', placeholder: 'description' %>
                <%= f.submit 'Save', class: 'btn btn-sm btn-primary' %>
              <% end %>
            </td>
            <td class="small"><%= var.description %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">Nueva Variable</div>
      <div class="card-body">
        <%= form_with model: [:admin, @new_variable], url: admin_system_variables_path, local: true do |f| %>
          <div class="mb-2">
            <%= f.label :name, class: 'form-label-sm' %>
            <%= f.text_field :name, class: 'form-control form-control-sm' %>
          </div>
          <div class="mb-2">
            <%= f.label :value, class: 'form-label-sm' %>
            <%= f.text_field :value, class: 'form-control form-control-sm' %>
          </div>
            <div class="mb-2">
            <%= f.label :description, class: 'form-label-sm' %>
            <%= f.text_field :description, class: 'form-control form-control-sm' %>
          </div>
          <%= f.submit 'Crear', class: 'btn btn-sm btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
