<main class="form-signin w-100 m-auto">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <h1 class="h3 mb-3 fw-normal"><%= t('.sign_up') %></h1>

    <div class="form-floating">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control top-input email-input"  %>
      <%= f.label :email %>
    </div>

    <div class="form-floating">
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control middle-input pwd-input" %>
      <%= f.label :password  %>
    </div>

    <div class="form-floating">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control bottom-input pwd-conf-input" %>
      <%= f.label :password_confirmation %>
    </div>

    <div class="actions">
      <%= f.submit t('.sign_up'), class: "btn btn-pwd btn-primary w-100 py-2 disabled" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
  <%= render "devise/shared/password_requirements" %>
</main>

