<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to root_path, id: "logo" do %>
      <%= image_tag "logo.png", alt: "Pasatiempos Logo", class: "img-fluid", width: "40" %>
    <% end %>

    <button class="navbar-toggler" id="hamburger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbar-scroll">
      <div class="w-50 mx-auto">
        <form class=" d-flex" role="search">
          <input type="search" class="form-control me-2" placeholder="Buscar productos, marcas y más..." aria-label="Buscar productos">
          <button type="submit" class="btn btn-outline-secondary">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>
      <ul id="navbar-menu" class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
        <li class="nav-item">
          <%= link_to catalog_path, class: "nav-link" do %>
            <i class="fas fa-store"></i> Catalog
          <% end %>
        </li>
        <% unless user_signed_in? %>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: "nav-link" do %>
            <i class="fas fa-sign-in-alt"></i> Iniciar sesión
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to new_user_registration_path, class: "btn btn-outline-primary" do %>
            <i class="fas fa-user-plus"></i> Registrarse
          <% end %>
        </li>
        <% else %>
        <% if current_user.admin? %>
        <li class="nav-item">
          <%= link_to "Dashboard", admin_dashboard_path, class: "btn btn-outline-primary" %>
        </li>
        <% end %>
        <!-- ✅ Dropdown & Cart Button -->
        <li class="nav-item dropdown">
          <a href="#" id="account" class="nav-link dropdown-toggle">
            <i class="fa-solid fa-user"></i> Mi cuenta
          </a>
          <ul class="dropdown-menu" id="dropdown-menu">
            <li><%= link_to "Mi Perfil", "#", class: "dropdown-item nav-link" %></li>
            <li><%= link_to "Mis compras", "#", class: "dropdown-item nav-link" %></li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <%= button_to "Cerrar sesión", destroy_user_session_path, 
              method: :delete, 
              class: "dropdown-item", 
              id: "logout-button", 
              form: { data: { turbo: true } } %>  
            </li>
          </ul>
        </li>
        <%= link_to cart_path, class: "btn btn-outline-primary btn-sm" do %>
          <i class="fas fa-shopping-cart"></i>
          Carrito
          (<%= session[:cart]&.values&.sum || 0 %>)
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

