<div class="form-group card d-none" id="password-requirements">
    <ul>
      <h6><%= t('devise.shared.password_complexity.title') %></h6>
      <% if @minimum_password_length %>
        <li id="minLength"><i class="fas fa-times text-danger"></i> <%= t('devise.shared.password_complexity.requirement', requirements: @minimum_password_length) %></li>
      <% end %>
      <li id="uppercase"><i class="fas fa-times text-danger"></i> <%= t('devise.shared.password_complexity.one_uppercase') %></li>
      <li id="lowercase"><i class="fas fa-times text-danger"></i> <%= t('devise.shared.password_complexity.one_lowercase') %></li>
      <li id="number"><i class="fas fa-times text-danger"></i> <%= t('devise.shared.password_complexity.one_number') %></li>
      <li id="symbol"><i class="fas fa-times text-danger"></i> <%= t('devise.shared.password_complexity.one_special_character') %></li>
      <li id="psw-confirmation"><i class="fas fa-times text-danger"></i> <%= t('devise.shared.password_complexity.password_confirmation') %></li>
    </ul>
</div>
