<%= turbo_stream.replace "payments_table" do %>
  <turbo-frame id="payments_table">
    <%= render "admin/payments/payment_table", payments: @sale_order.payments %>
  </turbo-frame>
<% end %>

<%= turbo_stream.update "sale_order_status" do %>
  <span class="badge <%= status_badge_class(@sale_order.status) %> px-3 py-2"><%= @sale_order.status %></span>
<% end %>

<%= turbo_stream.update "payment_balance" do %>
  <div class="row g-3 mb-4">
    <div class="col-md-3">
      <strong>Total Paid:</strong>
      <p>$<%= number_with_precision(@sale_order.total_paid, precision: 2) %></p>
    </div>

    <div class="col-md-3">
      <strong>Balance Due:</strong>
      <p class="<%= @sale_order.fully_paid? ? 'text-success' : 'text-danger' %>">
        $<%= number_with_precision(@sale_order.total_order_value - @sale_order.total_paid, precision: 2) %>
      </p>
    </div>
  </div>
<% end %>

<%= turbo_stream.replace "sale_order_items" do %>
  <turbo-frame id="sale_order_items">
    <%= render 'admin/sale_orders/items_table', sale_order: @sale_order %>
  </turbo-frame>
<% end %>