<nav class="bg-dark text-white vh-100 p-3" style="width: 250px;">
  <h4 class="text-center">Admin Panel</h4>
  <ul class="nav flex-column">
    <li class="nav-item"><%= link_to "Dashboard", admin_dashboard_index_path, class: "nav-link text-white" %></li>
    <li class="nav-item"><%= link_to "Products", admin_products_path, class: "nav-link text-white" %></li>
    <li class="nav-item"><%= link_to "Purchase Orders", admin_purchase_orders_path, class: "nav-link text-white" %></li>
    <li class="nav-item"><%= link_to "Users", admin_users_path, class: "nav-link text-white" %></li>
    <li class="nav-item"><%= link_to "Reports", admin_reports_path, class: "nav-link text-white" %></li>
    <li class="nav-item"><%= link_to "Settings", admin_settings_path, class: "nav-link text-white" %></li>
  </ul>
</nav>