<%= form_with model: [:admin, @product], local: false, class: "row g-3" do |f| %>
  <div class="col-md-3">
    <%= f.label :product_name %>
    <%= f.text_field :product_name, class: "form-control" %>
  </div>

  <div class="col-md-3">
    <%= f.label :product_sku %>
    <%= f.text_field :product_sku, class: "form-control" %>
  </div>

  <div class="col-md-3">
    <%= f.label :barcode %>
    <%= f.text_field :barcode, class: "form-control" %>
  </div>

  <div class="col-md-3">
    <%= f.label :brand %>
    <%= f.text_field :brand, class: "form-control" %>
  </div>

  <div class="col-md-3">
    <%= f.label :category %>
    <%= f.text_field :category, class: "form-control" %>
  </div>

  <div class="col-md-2">
    <%= f.label :reorder_point %>
    <%= f.number_field :reorder_point, class: "form-control" %>
  </div>

  <div class="col-md-2">
    <%= f.label :selling_price %>
    <%= f.number_field :selling_price, step: 0.01, class: "form-control" %>
  </div>

  <div class="col-md-2">
    <%= f.label :maximum_discount %>
    <%= f.number_field :maximum_discount, step: 0.01, class: "form-control" %>
  </div>

  <div class="col-md-2">
    <%= f.label :minimum_price %>
    <%= f.number_field :minimum_price, step: 0.01, class: "form-control" %>
  </div>

  <div class="col-md-2">
    <%= f.label :discount_limited_stock %>
    <%= f.number_field :discount_limited_stock, class: "form-control" %>
  </div>

  <div class="col-md-2">
    <%= f.label :status %>
    <%= f.select :status, ["Active", "Discontinued", "Out of Stock"], {}, class: "form-select" %>
  </div>

  <div class="col-md-2">
    <%= f.label :weight_grams, "Weight (grams)" %>
    <%= f.number_field :weight_gr, class: "form-control", min: 0 %>
  </div>

  <div class="col-md-2">
    <%= f.label :length_cm, "Length (cm)" %>
    <%= f.number_field :length_cm, class: "form-control", min: 0 %>
  </div>

  <div class="col-md-2">
    <%= f.label :width_cm, "Width (cm)" %>
    <%= f.number_field :width_cm, class: "form-control", min: 0 %>
  </div>

  <div class="col-md-2">
    <%= f.label :height_cm, "Height (cm)" %>
    <%= f.number_field :height_cm, class: "form-control", min: 0 %>
  </div>

  <div class="col-md-2">
    <%= f.label :backorder_allowed %>
    <%= f.check_box :backorder_allowed %>
  </div>

  <div class="col-md-2">
    <%= f.label :preorder_available %>
    <%= f.check_box :preorder_available %>
  </div>

  <div class="col-md-12">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", rows: 2, placeholder: "Agregar o modificar la descripcion" %>
  </div>

  <div class="col-md-12">
    <%= f.label :product_images, "Upload Product Images" %>
    <%= f.file_field :product_images, multiple: true, direct_upload: true, class: "form-control" %>
  </div>

  <% if @product.persisted? && @product.product_images.attached? %>
    <div class="col-md-12">
      <label class="form-label">Current Images</label>
      <div class="row g-2">
        <% @product.product_images.each do |image| %>
          <div id="image_<%= image.id %>" class="col-4 col-sm-3 col-md-2 position-relative">
            <div class="border rounded p-1 text-center bg-light">
              <%= image_tag image.variant(resize_to_limit: [100, 100]), class: "img-fluid rounded" %>

              <%= link_to admin_product_purge_image_path(@product, image_id: image.id),
                          method: :delete,
                          data: { turbo_confirm: "Remove this image?",
                                 turbo_method: :delete },
                          class: "btn btn-sm btn-danger position-absolute top-0 end-0 m-1" do %>
                <i class="fa-solid fa-xmark"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="col-md-12">
    <%= f.label :custom_attributes %>
    <%= f.text_area :custom_attributes, class: "form-control", rows: 2, placeholder: "JSON or key-value string (for now)" %>
  </div>

  <div class="col-12">
    <%= f.submit class: "btn btn-success" %>
    <%= link_to "Cancel", admin_products_path, class: "btn btn-secondary" %>
  </div>
<% end %>
