<h1><%= t('.subject') %></h1>

<p style="text-align: center;"><%= t('.greeting', recipient: @resource.email) %></p>

<p style="text-align: center;"><%= t('.message') %></p>

<p style="text-align: center;"><%= t('.instruction') %></p>

<p style="text-align: center;">
  <a href="#" class="btn">
    <%= t('.action') %>
  </a>
</p>
