<%= form_with model: user, url: url, local: true, class: "row g-3" do |f| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <h5>Form contains errors:</h5>
      <ul>
        <% user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="col-md-6">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="col-md-6">
    <%= f.label :phone %>
    <%= f.telephone_field :phone, class: "form-control" %>
  </div>

  <div class="col-md-6">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <% if user.role == "customer" %>
    <div class="col-md-4">
      <%= f.label :discount_rate %>
      <%= f.number_field :discount_rate, step: 0.1, class: "form-control" %>
    </div>

    <div class="col-md-4">
      <%= f.label :created_offline %><br>
      <%= f.check_box :created_offline %>
      <span class="form-text text-muted">Offline customer?</span>
    </div>

    <hr class="col-12 my-2">
    <h6 class="col-12 text-muted"><i class="fa-solid fa-credit-card me-1"></i>Crédito</h6>

    <div class="col-md-4">
      <div class="form-check mt-2">
        <%= f.check_box :credit_enabled, class: "form-check-input", id: "user_credit_enabled" %>
        <%= f.label :credit_enabled, "Habilitar crédito", class: "form-check-label" %>
      </div>
    </div>

    <div class="col-md-4">
      <%= f.label :default_credit_terms, "Términos de crédito" %>
      <%= f.select :default_credit_terms,
            [["Sin crédito", "none"], ["15 días", "net15"], ["30 días", "net30"], ["45 días", "net45"]],
            {}, class: "form-select" %>
    </div>

    <div class="col-md-4">
      <%= f.label :credit_limit, "Límite de crédito" %>
      <%= f.number_field :credit_limit, step: 0.01, min: 0, class: "form-control",
            placeholder: "Sin límite" %>
    </div>
  <% end %>

  <div class="col-md-12">
    <%= f.label :notes %>
    <%= f.text_area :notes, class: "form-control", rows: 2 %>
  </div>

  <div class="col-12">
    <%= f.submit "Save", class: "btn btn-success" %>
    <%= link_to "Cancel", request.referer || admin_dashboard_path, class: "btn btn-secondary" %>
  </div>
<% end %>