<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Dashboard</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- ✅ Bootstrap, FontAwesome & AdminLTE Styles -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="d-flex flex-column vh-100">
  <div class="d-flex">
    <%= render 'admin/partials/sidebar' %>

    <div class="flex-grow-1">
      <%= render 'admin/partials/navbar' %>

      <main class="container mt-4">
        <%= yield %>
      </main>

      <%= render 'admin/partials/footer' %>
    </div>
  </div>

</body>
</html>
