<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Dashboard</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'favicon.svg', type: 'image/svg+xml' %>
  <link rel="apple-touch-icon" href="/favicon.ico">

  <!-- No-flash sidebar state: apply class ASAP based on localStorage -->
  <script>
    (function() {
      try {
        if (localStorage.getItem('sidebar-collapsed') === 'true') {
          document.documentElement.classList.add('sidebar-collapsed');
        }
      } catch (_) { /* ignore */ }
    })();
  </script>

  <!-- Styles & Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-d9hj8..." crossorigin="anonymous" referrerpolicy="no-referrer" />
  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="d-flex flex-column min-vh-100 bg-light">
  <%= turbo_stream_from "flash" %>
  <%= turbo_stream_from "audit_progress_channel" %>

  <div class="container-fluid">
    <div class="row">

    <!-- Sidebar -->
  <aside id="sidebar" class="col-auto col-md-3 col-lg-2 text-white p-0 border-end">
        <%= render "admin/partials/sidebar" %>
      </aside>

      <!-- Main Content -->
      <div class="col p-0 d-flex flex-column">

        <!-- Navbar with toggle -->
        <%= render "admin/partials/navbar" %>

  <!-- Flash messages dentro del container-fluid -->
  <%= render "layouts/flash" %>

        <main class="flex-grow-1 p-4">
          <%= yield %>
        </main>

        <%= render "admin/partials/footer" %>
      </div>
    </div>
  </div>
</body>
</html>