<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Inventory App" %></title>
    <meta name="description" content="<%= content_for(:description) || 'Inventory management platform' %>">
    <link rel="canonical" href="<%= request.original_url %>">
    <meta property="og:title" content="<%= content_for(:title) || 'Inventory App' %>">
    <meta property="og:description" content="<%= content_for(:description) || 'Inventory management platform' %>">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= image_url('logo.png') %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'favicon.svg', type: 'image/svg+xml' %>
    <link rel="apple-touch-icon" href="/favicon.ico">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/flash" %>
    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to "Log in", new_user_session_path %>
    <% end %>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
    <button class="btn btn-primary">Bootstrap Works!</button>
  </body>
</html>
