<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= render 'shared/meta' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'favicon.svg', type: 'image/svg+xml' %>
    <link rel="apple-touch-icon" href="/favicon.ico">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header>
      <%= render 'customers/partials/navbar' %>
    </header>
    <%= render "layouts/flash" %>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
    <%= render "layouts/confirm_modal" %>
  </body>
</html>
