# app/views/admin/sales_orders/_form.html.erb
<%= form_with model: [:admin, @sales_order], local: true do |f| %>
  <div class="mb-3">
    <%= f.label :user_id, "Customer" %>
    <%= f.collection_select :user_id, User.where(role: "customer"), :id, :name, { prompt: "Select Customer" }, class: "form-select" %>
  </div>
  <div class="mb-3">
    <%= f.label :order_date %>
    <%= f.date_field :order_date, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :status %>
    <%= f.select :status, SalesOrder.statuses.keys.map { |s| [s.humanize, s] }, {}, class: "form-select" %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
